@page
@model BypassReCaptchaModel
@{
    ViewData["Title"] = "Bypass ReCaptcha";
}
<form method="post">
    <div class="mb-3">
        <label for="secret" class="form-label">Secret</label>
        <input asp-for="BypassSecret" class="form-control" id="secret" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>